/* Button Style */a
{
    text-decoration: none;
}
.buybtn
{
    font-family: Arial, sans-serif;
    background: #ff8400;
    width: 150px;
    height: 50px;
}
/* Active Style */.buybtn:active
{
    background: #ff5a00;
}
/* Rating */.ratingStar
{
    font-size: 8pt;
    width: 43px;
    height: 41px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}
.filledRatingStar
{
    background-image: url('../images/img-full-star.png');
}
.emptyRatingStar
{
    background-image: url('../images/img-full-star-grey.png');
}
.savedRatingStar
{
    background-image: url('../images/img-full-star.png');
}
